<div class="mt-4 ">
    <form method="post">
        <div  class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="text"name="q" class="form-control" id="exampleInputEmail1" placeholder="Tìm kiếm">
        </div>
        <div  class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <select name="gender" class="form-control" id="gender-input" >
                <option value="">--- Chọn giới tính ---</option>
                <option value="male">Nam</option>
                <option value="femail">Nữ</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>